<!--
<ng-sidebar-container style="height: 100vh;">
  <ng-sidebar [(opened)]="_opened" mode="push">
    <p>Sidebar contents</p>
  </ng-sidebar>

  <div ng-sidebar-content>
    <p>Option 2</p>
    <p>Option 3</p>
  </div>
</ng-sidebar-container>-
<app-category-sidebar></app-category-sidebar>-->
<!--
<div class="d-flex" id="wrapper">
  
  <app-category-sidebar></app-category-sidebar>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div>
        <p *ngFor="let a of auctions">
          {{ a.ime }}
          <span>{{ a.prodavac }} </span>

          <img src="{{ a.slike[1] }}" width="100px" />
          <button [routerLink]="['/auctions', a.kategorija, a.id]">
            Pogledaj aukciju
          </button>
        </p>
      </div>
       
    </div>
   
  </div>


</div>-->
<!--
<div class="container-fluid d-flex">
  <p *ngFor="let a of auctions">
    {{ a.ime }}
    <span>{{ a.prodavac }} </span>

    <img src="{{ a.slike[1] }}" width="100px" />
    <button [routerLink]="['/auctions', a.kategorija, a.id]">
      Pogledaj aukciju
    </button>
  </p>
</div>
-->

<!-- /#page-content-wrapper -->
<p *ngFor="let a of auctions">
  {{ a.ime }}
  <span>{{ a.prodavac }} </span>

  <img src="{{ a.slike[1] }}" width="200px" />
  <button [routerLink]="['/auctions', a.kategorija, a.id]">
    Pogledaj aukciju
  </button>
  <button (click)="dodajUListuZelja()">Dodaj u listu zelja</button>
</p>
