<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 style="color: #b30000;">Karakteristike predmeta</h3>
    </div>
    <div class="panel-body">
      <p>
        Velicina: <strong>{{ aukcija.velicina }}</strong>
      </p>
      <p>
        Proizvodjac: <strong>{{ aukcija.proizvodjac }}</strong>
      </p>
      <p>
        Boja: <strong>{{ aukcija.boja }}</strong>
      </p>
      <h3 style="color: #b30000;">Opis predmeta</h3>
      <p>{{ aukcija.opis }}</p>
    </div>
  </div>
</div>
