<div *ngIf="aukcija" class="container">
  <div class="row razmak2">
    <div class="col">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let img of aukcija.slike">
          <img
            [src]="[img]"
            alt="Random first slide"
            role="listbox"
            style="width: 100%; height: 500px !important;"
          />
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-lg-4">
      <h1>
        {{ aukcija.ime }}
      </h1>
      <button
        style="margin-top: 25px;"
        class="btn btn-outline-secondary"
        (click)="dodajUListuZelja()"
      >
        Dodaj u listu zelja
      </button>
      <br /><br />
      <h4 id="vreme" *ngIf="!pobedio">Preostalo vreme {{ countdown }}</h4>
      <h4
        id="vreme"
        *ngIf="pobedio"
        [routerLink]="['/auctions', aukcija.kategorija, aukcija.id, 'uspeh']"
      >
        Cestitamo! Pobedili ste. Kliknite da popunite podatke!
      </h4>

      <h4 style="margin-bottom: 25px; padding-bottom: 25px;">
        Broj ponuda {{ brojPonuda }}
      </h4>

      <div class="bg-grey p-4 rounded" style="background: #f4f4f4;">
        <div class="row">
          <div class="col">Aktuelna ponuda</div>
          <div class="col" id="aktuelnaPonuda">
            <strong>{{ aktuelna }}</strong>
          </div>
        </div>

        <div class="row razmak2">
          <div class="col text-md-left">Moja ponuda</div>
          <div class="col input-group">
            <input
              type="text"
              AUTOCOMPLETE="off"
              placeholder="(min {{ aktuelna }})"
              class="form-control form-control-lg"
              id="nasaPonuda"
            />
          </div>
        </div>

        <div class="row">
          <span class="input-group-btn">
            <button
              style="width: 331px;"
              class="btn btn-lg btn-success"
              (click)="ponudjeno()"
            >
              Licitiraj
            </button>
          </span>
        </div>
      </div>
    </div>
    <app-prodavac-info [prodavac]="aukcija.prodavac"></app-prodavac-info>
  </div>
  <app-karakteristike [aukcija]="aukcija"></app-karakteristike>
</div>
