<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"></div>
  <div class="list-group list-group-flush">
    <a
      [routerLink]="['/auctions', 'odeca']"
      class="list-group-item list-group-item-action bg-light"
      >Odeća</a
    >
    <a
      [routerLink]="['/auctions', 'obuca']"
      class="list-group-item list-group-item-action bg-light"
      >Obuća</a
    >
    <a
      [routerLink]="['/auctions', 'aksesoari']"
      class="list-group-item list-group-item-action bg-light"
      >Aksesoari</a
    >
    <a
      [routerLink]="['/auctions', 'tehnika']"
      class="list-group-item list-group-item-action bg-light"
      >Tehnika</a
    >
    <a
      [routerLink]="['/auctions', 'knjige']"
      class="list-group-item list-group-item-action bg-light"
      >Knjige</a
    >
    <a
      [routerLink]="['/auctions', 'umetnost']"
      class="list-group-item list-group-item-action bg-light"
      >Umetnost</a
    >
  </div>
  <img
    src="assets/images/7.png"
    style="height: 100%; width: 100%; object-fit: contain;"
  />
</div>
