<div class="col-sm panel panel-default">
  <div class="bg-grey p-4 rounded" style="background: #f4f4f4;">
    <div class="d-flex flex-column flex-md-row text-center text-md-left">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="mb-0">Prodavac</h4>
        </div>
        <div class="panel-body">
          <h4 class="word_break" style="color: #1fbed6;">{{ prodavac }}</h4>

          <p>100% pozitivnih</p>
          <p>Lokacija : Beograd</p>
          <div class="row" style="margin-bottom: 20px; padding-bottom: 20px;">
            <div class="col-sm">
              <img src="assets/images/crown.png" width="50" height="50" />
            </div>
            <div class="col-sm">
              <img src="assets/images/star.png" width="60" height="55" />
            </div>
          </div>
          <div class="col">
            <div class="row">
              <button class="btn btn-danger">Posaljite poruku</button>
            </div>
            <div
              class="row"
              style="margin-bottom: 20px; padding-bottom: 2px;"
            ></div>

            <span style="display: block; height: 50; width: 20;"></span>
            <img src="assets/images/zastita.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
