<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['/']">Limundo</a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auctions']">Sve aukcije</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/wishlist']">Lista zelja</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-12">
    <nav class="navbar navbar-expand navbar-dark bg-light">
      <input
        style="margin-right: 20px;"
        type="text"
        class="col-xs-3"
        [(ngModel)]="text"
      />
      <button class="btn btn-danger" (click)="dalje()">
        PRETRAŽI SVE AUKCIJE
      </button>
    </nav>
  </div>
</div>
