<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['/']">Limundo</a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auctions']">Sve aukcije</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/wishlist']">Lista zelja</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-12">
    <nav class="navbar navbar-expand navbar-dark bg-light">
      <button class="btn btn-danger">PRETRAŽI SVE AUKCIJE</button>
      <!--
      <form
        [formGroup]="checkoutForm"
        (ngSubmit)="submitForm(checkoutForm.value)"
      >
        <div class="form-group">
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            formControlName="name"
            style="margin-top: 15px; margin-left: 15px;"
          />
        </div>
      </form>
      -->

      <!--<ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/checkout']">Checkout</a>
        </li>
      </ul>-->
    </nav>
  </div>
</div>
